.login{
    background: #000;
    display: flex;
    width: 30%px;
    height: 500px;
    box-shadow: 10px 20px 10px #9E9E9E;
    margin-top: 150px;
}

.logo{
    background: linear-gradient(
      90deg,
      rgb(27, 206, 206) 0%,
      rgb(71, 209, 117) 100%
    );
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content{
    background: rgb(48, 42, 46);
    width: 100%;
    padding: 50px;
    padding-top: 50px;
}

.form-control{
    margin-bottom: 25px;
}
label{
    color: #fff;
}
.btn{
    margin-top: 50px;
    margin-left: 110px;
}
.nav-link{
    cursor: pointer;  
}

.button{
    padding: 16px;
    width: 50%;
    border: none;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
      90deg,
      rgb(27, 206, 206) 0%,
      rgb(71, 209, 117) 100%
    );
    color: #fff;
    text-transform: capitalize;
    transition: 0.7s ease;
}
.button:hover{
    color: black;
    text-transform: capitalize;
    transform: scale(1.1);
    transition: 0.7s ease;
}

.l-label{
    color: #fff;
    margin-bottom: 30px;
}

.down-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}
